[submodule "packages/maneuver"]
	path = packages/maneuver
	url = https://github.com/DigitalArsenal/space-data-network-plugin-maneuver.git
[submodule "packages/cislunar"]
	path = packages/cislunar
	url = https://github.com/DigitalArsenal/space-data-network-plugin-cislunar.git
[submodule "packages/od"]
	path = packages/od
	url = https://github.com/DigitalArsenal/space-data-network-plugin-od.git
[submodule "packages/sgp4-propagator"]
	path = packages/sgp4-propagator
	url = https://github.com/DigitalArsenal/space-data-network-plugin-sgp4-propagator.git
[submodule "packages/atmosphere"]
	path = packages/atmosphere
	url = https://github.com/DigitalArsenal/space-data-network-plugin-atmosphere.git
[submodule "packages/fred"]
	path = packages/fred
	url = https://github.com/DigitalArsenal/space-data-network-plugin-fred.git
[submodule "packages/conjunction-assessment"]
	path = packages/conjunction-assessment
	url = https://github.com/DigitalArsenal/space-data-network-plugin-conjunction-assessment.git
[submodule "packages/hpop"]
	path = packages/hpop
	url = https://github.com/DigitalArsenal/space-data-network-plugin-hpop.git
[submodule "packages/plugin-delivery"]
	path = packages/plugin-delivery
	url = https://github.com/DigitalArsenal/space-data-network-plugin-delivery.git
[submodule "packages/client-decrypt"]
	path = packages/client-decrypt
	url = https://github.com/DigitalArsenal/space-data-network-plugin-client-decrypt.git
